@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

body {
    @apply bg-[#F4F5F6] text-black dark:bg-[#0a0d36] dark:text-white transition-colors duration-700;
}


.text {
    @apply dark:text-white text-black transition-colors duration-700;
}

.dark {
    background-color: #0a0d36;
    color: white;
}

.dark .bg-white {
  background-color: #080a2e;
  color: white;
  @apply duration-700 transition-colors
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-slate {
    @apply dark:text-slate-200 text-slate-800 transition-colors duration-700;
}

.link {
    @apply text-blue-600 hover:text-blue-500 dark:text-sky-400 dark:hover:text-sky-300 transition-colors duration-300;
}

@theme {
  --color-blush-50: oklch(95.32% 0.019 286.1);
  --color-blush-100: oklch(89.61% 0.041 282.53);
  --color-blush-200: oklch(78.93% 0.086 282.04);
  --color-blush-300: oklch(68.5% 0.134 279.86);
  --color-blush-400: oklch(58.12% 0.183 276.97);
  --color-blush-500: oklch(48.85% 0.227 272.09);
  --color-blush-600: oklch(41.92% 0.232 268.92);
  --color-blush-700: oklch(36.1% 0.195 269.28);
  --color-blush-800: oklch(29.9% 0.157 269.97);
  --color-blush-900: oklch(24.29% 0.119 270.98);
  --color-blush-950: oklch(20.52% 0.094 272.03);
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes meteor {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateX(-150px) translateY(150px);
        opacity: 0;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes twinkle-reverse {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

.animate-twinkle {
    animation: twinkle 4s ease-in-out infinite;
}

.animate-twinkle-reverse {
    animation: twinkle-reverse 5s ease-in-out infinite;
}

button {
    cursor: pointer;
}

